page-map {

}

.pinner{
	z-index:2;
	position:absolute;
	
}
.container{
	position:relative;
}
.base_map{
	position:absolute;
}


* {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

ul li:hover {
  background-color: #eee;
}
