<ion-view title="Cart" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="cart-form2" class="list">
      <label class="item item-input" id="cart-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="cart-container2">
      <div class="spacer" style="width: 300px; height: 23.9915px;"></div>
      <button id="cart-button19" class="button button-positive button-block">Remove Unchecked Items</button>
    </div>
    <form id="cart-form7" class="list">
      <ion-checkbox id="cart-checkbox5">Checkbox</ion-checkbox>
      <ion-checkbox id="cart-checkbox6">Checkbox</ion-checkbox>
      <ion-checkbox id="cart-checkbox7">Checkbox</ion-checkbox>
      <ion-checkbox id="cart-checkbox8">Checkbox</ion-checkbox>
    </form>
  </ion-content>
</ion-view>