<ion-view title="Home" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <h4 id="home-heading1" style="color:#000000;">Hello Ajay kushwaha,</h4>
    <div>
      <img src="img/wZXFNBbjQB2DKOMSLE9a_kid-sitting-in-a-supermarket-shopping-cart_3446-359.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-container1">
      <a ui-sref="menu.cart()" id="home-button4" style="font-weight:500;" class="button button-positive button-large button-block icon-left ion-android-cart">MY CART</a>
      <a ui-sref="menu.list()" id="home-button5" style="font-weight:500;" class="button button-positive button-large button-block icon-left ion-android-list">MY LIST</a>
    </div>
  </ion-content>
</ion-view>