<ion-view title="Profile" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="profile-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Customer ID:</p>
    </div>
    <div id="profile-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;font-size:16px;">7842265565555</p>
    </div>
    <form action="/action_page.php">
      <fieldset>
        <legend>Personal information:</legend>
        First name:
        <br>
        <input type="text" name="firstname" placeholder="Enter your First name">
        <br> Last name:
        <br>
        <input type="text" name="lastname" placeholder="Enter your Last name">
        <br> Mobile Number
        <br>
        <input type="tel" name="mono" placeholder="Enter your Mobile number">
        <br>

        <br>
        <input type="submit" value="Save">
      </fieldset>
    </form>
  </ion-content>
</ion-view>