
<link href="assets/css/list.css" rel="stylesheet">
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-list>
        <ion-item>Daenerys Targaryen
        <button ion-button icon-only color="danger" >
             <ion-icon name="home" ></ion-icon>
          </button>
      </ion-item>
    </ion-list> -->
<!-- 
    <ion-grid>
      <ion-row>
          <ion-col col-10>
            <div style="font-size: 20px">Daenerys Targaryen</div>
          </ion-col>
          <ion-col>
            <div>
              <button ion-button icon-only color="danger" >
              <ion-icon name="close" ></ion-icon>
              </button>
            </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-10 style="">
            <div style="font-size: 20px;">Daenerys Targaryen</div>
          </ion-col>
          <ion-col>
            <div>
              <button ion-button icon-only color="danger" >
              <ion-icon name="close" ></ion-icon>
              </button>
            </div>
          </ion-col>
      </ion-row>
   </ion-grid> -->
<h3 id="home-heading1" style="color:red;text-align: center;">Items in My list ({{ItemsInList.length}})</h3><br>
  <div *ngFor="let item of ItemsInList ;let i = index" >
    <ul>
      <li>{{ item }}<span class="close" (click)="removeItems($event)" id="{{ 'InListItem' + i }}">x</span></li>
  </ul>
  </div><br>
  <hr>
<h3 id="home-heading1" style="color:red;text-align: center;">Add Items to My list :</h3><br>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <div *ngFor="let item of ItemsListTemp ;let i = index" >
          <ul>
            <li  (click)="addItems($event)" id="{{ 'OutListItem' + i }}">{{ item }}</li>
        </ul>
        </div>
</ion-content>
